.App {
  background-color: #02283B;
}
.App-header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  border-radius: 10px;
  color: white;
}
#listContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}
.Picture{
  max-width:160px;
  padding: 3px;
  transition:all;
}

.Loading {
  margin-top: 100em;
  margin: 40%;
  color: white;
}